  # ASSIGNMENT-2
# WEB SCRAPING

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.4.3-py3-none-any.whl (985 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\vikas\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vikas\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.3 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.2.0

In [2]:
# importing the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [13]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [14]:
#opening the naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [15]:
# Entering the designation and location required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
#scraping job title from the given page
job_title=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [20]:
#creating the dataframe of job title
df=pd.DataFrame(job_title,columns=["job_title"])
df

                                           job_title
0                        HCL hiring For Data Analyst
1  Contractual Hiring For Top MNC || Business Dat...
2                          Programmer / Data Analyst
3      Data Analyst - Python/Artificial Intelligence
4                              Customer Data Analyst
5                                   Sr. Data Analyst
6                    Data Analyst - Decision Science
7     Immediate opening For Data Analyst @ Bangalore
8                             Associate Data Analyst
9                             Associate Data Analyst

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [21]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
#opening the naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [23]:
# Entering the designation and location required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
#scraping job title from the given page
job_title=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [28]:
#creating the dataframe of job title
df=pd.DataFrame(job_title,columns=["job_title"])
df

                                           job_title
0  Job Opportunity on Data Science_ Python with T...
1                   Assistant Manager - Data Science
2                   Analystics & Modeling Specialist
3  Hiring For DATA Scientist @ NTT DATA Business ...
4                       Data Scientist/AIML Engineer
5                            Data Science Consultant
6                                     Data Scientist
7                                     Data Scientist
8                                  Lead ML Scientist
9                      Tcs Hiring For Data Scientist

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [33]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [34]:
#opening the naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [35]:
# Entering the designation and location required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [36]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [37]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scaping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
#scraping experienced required from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [38]:
# creating the dataframe from above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location, ' company_name': company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Data Scientist,Noida,4i Odc,2-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [87]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [88]:
#opening the flipkart.com page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [89]:
# Entering sunglasses
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [90]:
#creating empty list
brand_name=[]
product_description=[]
price=[]

In [91]:
start=0
end=3
# scraping brand name from given page
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        brand_name.append(i.text)
        
 #scraping product description from given page   
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)

#scraping price tag from the given page        
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [92]:
#checking the length of each column
print(len(brand_name),len(product_description),len(price))

120 120 120

In [93]:
# creating dataframe from the above data
df=pd.DataFrame({'brand_name':brand_name,'product_description':product_description, 'price': price})
df[0:100]

        brand_name                                product_description   price
0           AISLIN    UV Protection, Gradient Cat-eye Sunglasses (58)    ₹448
1    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)  ₹1,128
2   ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹449
3         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
4   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹319
..             ...                                                ...     ...
95  ROZZETTA CRAFT   UV Protection Rectangular Sunglasses (Free Size)    ₹255
96          AISLIN  UV Protection, Gradient Butterfly, Retro Squar...    ₹448
97          AISLIN  Toughened Glass Lens, UV Protection Aviator, W...    ₹746
98        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹759
99      PHENOMENAL         UV Protection Retro Square Sunglasses (53)    ₹226

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [158]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [159]:
#opening the flipkart.com page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [162]:
# Entering iphone 11
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('iphone 11')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu").click()

In [166]:
search=driver.find_element(By.XPATH,'//div[@class="_4rR01T"]').click()

In [168]:
handles=driver.window_handles

In [169]:
for handle in handles:
    driver.switch_to.window(handle)

In [170]:
search=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]').click()

In [97]:
# creating empty list
rating=[]
review_summary=[]
full_review=[]

In [171]:
start=0
end=10
# scraping rating from given page
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
        
#scraping review summary from given page   
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_summary.append(i.text)

#scraping full review from the given page        
    full_r=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_r:
        full_review.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]').click()
    time.sleep(11)

In [173]:
#checking the length of each column
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [174]:
# creating dataframe from the above data
df=pd.DataFrame({'rating':rating,'review_summary':review_summary,'full_review': full_review})
df

,rating,review_summary,full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Highly recommended,It's my first time to use iOS phone and I am l...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,4,Good choice,So far it’s been an AMAZING experience coming ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [39]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [40]:
#opening the flipkart.com page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [177]:
# Entering sneakers
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu").click()

In [178]:
# creating empty list
brand=[]
product_description=[]
price=[]
offer=[]

In [179]:
start=0
end=3
# scraping brand from given page
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        brand.append(i.text)
        
#scraping product description from given page   
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)

#scraping price from the given page        
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]' or '//a[@class="IRpwTa _2-ICcC"]')
    for i in prices:
        price.append(i.text)
        
#scraping offer from given page
    offers=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in offers:
        offer.append(i.text)   
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]').click()
    time.sleep(4)

In [180]:
#checking the length of each column
print(len(brand),len(product_description),len(price),len(offer))

120 111 120 118

In [184]:
# creating dataframe from the above data
a={'brand':brand,'product_description':product_description,'price': price,'offer':offer}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df[0:100]

       brand                                product_description price    offer
0    Mozafia              Canvas Casuals Shoes Sneakers For Men  ₹999  50% off
1       Vask  Comfortable Premium Stylish Unique Trendy Popu...  ₹439  70% off
2     Shozie                                   Sneakers For Men  ₹389  61% off
3     Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹629  66% off
4       aadi                                   Sneakers For Men  ₹279  72% off
..       ...                                                ...   ...      ...
95  Magnolia           BMW MMS Drift Cat Delta Sneakers For Men  ₹399  65% off
96    Shozie                            SS1100 Sneakers For Men  ₹348  62% off
97    Shozie                              supr Sneakers For Men  ₹379  60% off
98  Magnolia                                 Sneakers For Women  ₹396  84% off
99    BRUTON           Exclusive Sneaker Shoes Sneakers For Men  ₹634  80% off

[100 rows x 4 columns]

# Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

In [27]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [28]:
#opening the myntra.com page on automated chrome browser
driver.get("https://www.myntra.com/shoes")

In [29]:
color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]')
color_filter.click()

In [30]:
price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [31]:
# creating empty list
brand=[]
product_description=[]
price=[]

In [32]:
start=0
end=2
# scraping brand from given page
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brands:
        brand.append(i.text)
        
#scraping product description from given page   
    product=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product:
        product_description.append(i.text)

#scraping price from the given page        
    prices=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in prices:
        price.append(i.text)
        
   
        
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)

In [33]:
#checking the length of each column
print(len(brand),len(product_description),len(price))

100 100 100

In [34]:
# creating dataframe from the above data
df=pd.DataFrame({'brand':brand,'product_description':product_description,'price': price})
df

,brand,product_description,price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
1,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 10799Rs. 11999(10% OFF)
2,ADIDAS Originals,Men Colorblocked Ozrah Sneaker,Rs. 11699Rs. 12999(10% OFF)
3,Bugatti,Men Running Shoes,Rs. 7499Rs. 9999(25% OFF)
4,ADIDAS Originals,Men Solid Oznova Sneakers,Rs. 11999
...,...,...,...
95,Geox,Women Textured Leather Loafers,Rs. 9990
96,ADIDAS Originals,Women Superstar Sneakers,Rs. 9999
97,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
98,Saint G,Leather Block Sandals with Buckles,Rs. 8505Rs. 10500(19% OFF)
99,Skechers,Women Arch Fit Slip-On Sneaker,Rs. 7999

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [333]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [334]:
#opening the amazon.in page on automated chrome browser
driver.get("https://www.amazon.in/")

In [335]:
# Entering the required in the question
designation=driver.find_element(By.ID,'twotabsearchtextbox')
designation.send_keys('Laptop')

In [336]:
search=driver.find_element(By.ID,"nav-search-submit-button").click()

In [337]:
cpu_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[12]/span/a/span')
cpu_filter.click()

In [338]:
#creating empty list
title=[]
p_ratings=[]
price=[]

In [339]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    titles=i.text
    title.append(titles)
    
    
#scraping rating from the given page

ratings_box= driver.find_elements(By.XPATH,'.//div[@class="a-row a-size-small"]/span')

x=0 
for i in ratings_box:
    if x % 2 == 0:
        if ratings_box !=[]:
            ratings=i.get_attribute('aria-label')[0:12]
            p_ratings.append(ratings)
        else:
            ratings=0
            p_ratings.append(ratings)

    x+=1          
   
            
#scraping price from the given page
prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices[0:10]:
    pr=i.text
    price.append(pr)

In [340]:
#checking the length of each column
print(len(title),len(p_ratings),len(price))

10 25 10

In [343]:
# creating dataframe from the above data
a={'title':title,'ratings':ratings,'price': price}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df[0:10]

                                               title ratings     price
0  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...       4    82,990
1  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...       .    62,990
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....       2    80,990
3  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...          1,09,990
4  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...       o    94,990
5  HP Victus 12th Gen Intel Core i7 15.6 inch(39....       u    90,990
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...       t    84,990
7  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...            58,000
8  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...       o    23,997
9  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...       f  1,07,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [166]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [389]:
#opening the ambitionbox.com page on automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [390]:
search= driver.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[5]/a').click()

In [391]:
# Entering the designation required in the question
designation=driver.find_element(By.NAME,'ab_jobsSearch')
designation.send_keys('Data Scientist')

In [173]:
search=driver.find_element(By.CLASS_NAME,"c")
search.click()

In [176]:
lc=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[1]/p').click()

In [177]:
lci=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
lci.send_keys('Noida')

In [179]:
lc2=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [180]:
job_title=[]

In [182]:
#scraping job title from the given page
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [183]:
#creating the dataframe of job title
df=pd.DataFrame(job_title,columns=["job_title"])
df

                                           job_title
0                                   Quality Engineer
1                        Data Scientist- SAS Analyst
2                EY GDS - Data Scientist (10-20 yrs)
3                                     Data Scientist
4    Hiring Data Scientist #productbasecompany #CBRE
5  Hiring For Genpact-Data Scientist- Forecasting...
6  Genpact - Data Scientist - Forecasting/Python/...
7                                     Data Scientist
8  Data Scientist - Machine Learning Algorithms (...
9                                     Data Scientist

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [3]:
# lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
#opening the ambitionbox.com page on automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [5]:
search= driver.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[3]').click()
select=driver.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a').click()

In [6]:
# Entering the designation required in the question
designation=driver.find_element(By.XPATH,'//input[@class="tt-input"]')
designation.send_keys('Data Scientist')

In [7]:
select1=driver.find_element(By.XPATH,'//p[@class="tt_text"]')
select1.click()

In [8]:
company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [9]:
# scraping company from given page
company=driver.find_elements(By.XPATH,'//a[@data-v-4c07f399]')
for i in company[0:10]:
    company_name.append(i.text.replace('\nData Scientist Salary'," "))
        
#scraping total salary record from given page   
    total=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
    for i in total:
        total_salary_record.append(i.text)

#scraping avg salary from the given page        
    avg=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
    for i in avg[0:10]:
        average_salary.append(i.text)
        
#scraping min salary from the given page        
    min_s=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
    for i in min_s[0:20:2]:
        minimum_salary.append(i.text)
        
#scraping min salary from the given page        
    max_s=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
    for i in max_s[1:22:2]:
        maximum_salary.append(i.text)
        
#scraping experience from the given page        
    exp=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
    for i in exp[0:10]:
        experience_required.append(i.text.split('(')[0])

In [10]:
#checking the length of each column
print(len(company_name),len( total_salary_record),len(average_salary),len(minimum_salary),len(maximum_salary),len(experience_required))

10 100 100 100 100 100

In [11]:
# creating dataframe from the above data
a={'company_name':company_name,'total_salary_record':total_salary_record,'average_salary':average_salary,'minimum_salary':minimum_salary,'maximum_salary':maximum_salary,'experience_required':experience_required}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df[0:10]

,company_name,total_salary_record,average_salary,minimum_salary,maximum_salary,experience_required
0,Walmart,(based on 23 salaries),₹ 32.3L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,(based on 57 salaries),₹ 19.9L,₹ 15.0L,₹ 26.0L,2-4 yrs experience
2,Optum,(based on 49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,(based on 34 salaries),₹ 15.8L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,(based on 115 salaries),₹ 15.4L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,(based on 68 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Sigmoid Analytics,(based on 10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience
7,Legato Health Technologies,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
8,HSBC,(based on 10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience
9,Tredence,(based on 14 salaries),₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience