In [1]:
# Import module
import sqlite3

In [2]:
# Connecting to sqlite
conn = sqlite3.connect('stores1.db')

In [3]:
#declare cursor
cursor= conn.cursor()

In [4]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE Customers(
CustomerNo INTEGER PRIMARY KEY,
CustomerName VARCHAR(30),
ContactLastName VARCHAR(15),
ContactFirstName VARCHAR(15),
Phone INTEGER(10),
AddressLine1 VARCHAR(30),
AddressLine2 VARCHAR(30),
City VARCHAR(20),
State VARCHAR(20),
PostalCode INTEGER(6),
Country CHAR(10),
SalesRepEmployeeNumber INTEGER (30),
CreditLimit INTEGER(10));"""

In [5]:
# execute the statement
cursor.execute(sql_command)

In [8]:
 #SQL command to insert the data in the table
sql_command = """INSERT INTO Customers VALUES 
(1, "John Edward", "Edward", "John",  0000000000, "Street No. 72", "A Block", "Las Vegas", "Nevada", 89101, "United States", 101, 10000),

(2, "Nitin Juneja", "Juneja", "Nitin",  1111111111, "Street No. 7", "B Block",  "Nantes", "Loire Atlantique", 44200, "France", 102, 12000),

(3, "Rick Wills", "Wills", "Rick", 2222222222, "Street No. 9", "D Block", "Stavern", "Norway", 3290, "Europe", 103, 3000),

(4, "Joe Jacobs", "Jacobs", "Joe", 3333333333, "Street No. 1",  "C Block", "Seattle", "Washington", 98101, "United States", 104, 5000),

(5, "Nick Jones", "Jones", "Nick", 4444444444, "Street No. 25", "E Block", "Berlin","Berlin", 06037, "Germany", 105, 20000),

(6, "Dennis Elliott", "Elliott", "Dennis", 5555555555, "Street No. 72", "D Block", "Las Vegas", "Nevada", 89101, "United States", 106, 18000),

(7, "Mark Schulman", "Schulman", "Mark", 6666666666,  "Street No. 15", "A Block", "Stavern", "Norway", 3290, "Europe", 107, 200000),

(8, "Neena Jacobs", "Jacobs", "Neena", 7777777777, "Street No. 20", "C Block", "Las Vegas", "Nevada", 89101, "United States", 108, 70000),

(9,  "Don Jones", "Jones", "Don", 8888888888, "Street No. 2", "E Block", "Nantes", "Loire Atlantique", 44200, "France", 109, 40000),

(10, "Maria Elliott", "Elliott", "Maria", 9999999999, "Street No. 55", "N Block", "Stavern", "Norway", 3290, "Europe", 110, 14000),

(11, "Ed Gagliardi", "Gagliardi", "Ed", 9125111111, "Street No. 6", "F Block", "Seattle", "Washington", 98101, "United States", 111, 50000),

(12, "Derek Hilland", "Hilland", "Derek", 7252525252, "Street No. 77", "A Block", "Berlin", "Berlin", 06037, "Germany", 112, 150000),

(13, "Tanya Aldrich", "Aldrich", "Tanya", 8899995522, "Street No. 82", "M Block", "Nantes", "Loire-Atlantique", 44200, "France", 113, 250000);"""

cursor.execute(sql_command)

In [9]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE Orders(
orderNo INTEGER PRIMARY KEY,
orderdate DATE(10),
requireddate DATE(10),
shippeddate DATE(10),
status CHAR(10),
comments VARCHAR(30),
CustomerNo INTEGER (15),
FOREIGN KEY (CustomerNo) REFERENCES Customers (CustomerNo));"""

# execute the statement
cursor.execute(sql_command)

In [10]:
conn.commit()

In [12]:
 #SQL command to insert the data in the table
sql_command = """INSERT INTO Orders VALUES 
(1, "2022-10-10", "2022-10-10", "2022-10-10", "Shipped", "Good", 1),
(2, "2022-10-10", "2022-10-10", "2022-10-10", "Dispatched", "Nice", 2),
(3, "2012-10-10", "2012-10-11", "2012-10-11", "In Transit", "Not Good", 3),
(4, "2004-10-19", "2004-10-19", "2004-10-19", "Delivered", "Awesome", 4),
(5, "2022-10-10", "2022-10-11", "2022-10-11", "Dispatched", "Perfect", 5),
(6, "2012-10-12", "2012-10-15", "2012-10-15", "In Transit", "Poor",  6),
(7, "2022-10-11", "2022-10-11", "2022-10-11", "Shipped", "Defective", 7),
(8, "2002-10-10", "2002-10-12", "2002-10-11", "Disputed", "Failure", 8),
(9, "2022-10-11", "2022-10-11", "2022-10-11", "Dispatched", "Amazing", 9),
(10, "2002-10-11", "2002-10-13", "2002-10-13", "In Transit", "Bad", 10),
(11, "2022-10-11", "2022-10-12", "2022-10-12", "Disputed", "Very Bad", 11),
(12, "2002-10-10", "2022-10-13", "2022-10-12", "Dispatched", "Good Taste", 12),
(13, "2022-10-11", "2022-10-13", "2022-10-12", "Delivered", "Fast", 13);"""

# execute the statement
cursor.execute(sql_command)

In [13]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE ProductLines(
ProductLine VARCHAR PRIMARY KEY,
textDescription VARCHAR(30));"""
# execute the statement
cursor.execute(sql_command)

conn.commit()

In [14]:
sql_command = """INSERT INTO ProductLines VALUES 
("Growth + Horlicks", "Horlicks Growth+ provides all the key type II nutrients known as growth nutrients (Protein, Potassium, Phosphorus, Zinc and Sodium) which are known to support growth."),
("Bournvita Health Drink", "Health food drink with inner strength formula which has nutrients that support - Immune system (8 immunity nutrients), Strong bones (Vitamin D, Phosphorous), Strong muscles (Protein, Vitamin D) and Active Brain (Iron, Iodine, Vitamin B2, Vitamin B12)"),
("Washing Powder by Unilever", "Surf excel offers outstanding cleanliness on a wide range of stains, and with multiple product offerings, it is suited for both bucket and machine wash environments. "),
("Full Cream Milk", "It is a cooperative brand managed by Gujarat Cooperative Milk Marketing Federation Ltd. (GCMMF), which today is controlled jointly by 36 lakh milk producers in Gujarat and the apex body of 13 district milk unions, spread across 13,000 villages of Gujarat."),
("Tonned Milk", "A perfect blend of good health and wholesome taste, Mother Dairy Toned Milk (Polypack) is an ideal choice for people who want nutritionally balanced diet to stay fit. Healthy and nutritious, this low-fat milk can be used in making beverages and milkshakes."),
("American brand of toothpaste", "Pepsodent toothpaste was introduced in the United States in 1915 by the Pepsodent Company of Chicago. The original formula for the paste contained pepsin, a digestive agent designed to break down and digest food deposits on the teeth, hence the brand and company name.");"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [15]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE Products(
ProductCode INTEGER PRIMARY KEY,
ProductName VARCHAR(20),
ProductLine VARCHAR(15),
ProductScale VARCHAR(10),
ProductVendor VARCHAR(10),
ProductDescription VARCHAR(30),
QuantityInStock VARCHAR(10),
BuyPrice INTEGER(10),
MSRP INTEGER(10),
FOREIGN KEY (ProductLine) REFERENCES ProductLines (ProductLine));"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [16]:
sql_command = """INSERT INTO Products VALUES 
(1001, "Horlicks Health Drinks", "Growth + Horlicks", "6 out of 10 stars", "GlaxoSmithKline","Sweet malted milk hot drink powder", "20 Kg", 420, 450),
(1002, "Bournvita Health Drinks", "Bournvita Health Drink", "5 out of 10 stars", "Ayurveda Bazar Private Limited", "Malted chocolate drink mix", "15 Kg", 400, 420),
(1003, "Surf Excel Detergent", "Washing Powder by Unilever", "4.0 out of 5 stars",  "Hindustan Unilever Limited (HUL) and Unilever Sri Lanka", "First detergent powder of India and Pakistan", "30 Kg", 300, 320),
(1004, "Amul Fresh Milk", "Full Cream Milk", "4.3 out of 5 stars", "Gujarat Govt. Cooperative Society ", "Hygienic liquid milk", "50 ltr", 50, 50),
(1005, "Mother Dairy Fresh Milk", "Tonned Milk", "4.3 out of 5 stars", "Indian food company", "Wholesome and healthy", "50 ltr", 48, 48),
(1006, "Pepsodent Toothpaste", "American brand of toothpaste","4.5 out of 5 stars",  "American brand", "American brand of toothpaste with the minty flavor derived from sassafras", "1000 gms", 95, 100);"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [17]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE OrderDetails(
orderNo INTEGER PRIMARY KEY,
ProductCode INTEGER (10),
QuantityOrdered VARCHAR(15),
PriceEach INTEGER(15),
OrderLineNumber INTEGER(10),
FOREIGN KEY (orderNo) REFERENCES Orders (orderNo),
FOREIGN KEY (ProductCode) REFERENCES Products (ProductCode));"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [18]:
# SQL command to insert the data in the table
sql_command = """INSERT INTO OrderDetails VALUES 
(1, 1001, "6", 400, "Growth + Horlicks"),
(2, 1002, "5", 300, "Bournvita Health Drink"),
(3, 1003, "10", 95, "Washing Powder by Unilever"),
(4, 1004, "20", 50, "Full Cream Milk"),
(5, 1005, "30", 48, "Tonned Milk"),
(6, 1006, "7", 95, "American brand of toothpaste");"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [19]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE Employees(
SalesRepEmployeeNumber INTEGER PRIMARY KEY,
LastName VARCHAR(15),
FirstName VARCHAR(15),
extension INTEGER(2),
email VARCHAR(30),
OfficeCode INTEGER(5),
reportsTo CHAR(20),
JobTitle CHAR(20),
FOREIGN KEY (SalesRepEmployeeNumber) REFERENCES Customers (SalesRepEmployeeNumber));"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [20]:
# SQL command to insert the data in the table
sql_command = """INSERT INTO Employees VALUES 
(101, "Bluestein", "Michael", 01, "Michael@gmail.com", 10000, "Manager", "Customer Service Representative"),
(102, "Dutta", "Tina", 02, "Tina@gmail.com", 10001, "Manager", "Cashier"),
(103, "Kapoor", "Meesha", 03, "Meesha@gmail.com", 10002, "Manager", "Sales Associate"),
(104, "Pilson", "Jeff", 04, "Jeff@gmail.com", 10003, "Manager", "Cashier"),
(105, "Bluestein", "Michael", 05, "Michael@gmail.com", 10004, "Sr. Manager", "Sales Associate"),
(106, "Frazier", "Chris ", 06, "Chris@gmail.com", 10005, "Manager", "Sr. Manager");"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [21]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE Offices(
OfficeCode INTEGER PRIMARY KEY,
City CHAR(30),
Phone INTEGER(10),
AddressLine1 VARCHAR(30),
AddressLine2 VARCHAR(30),
State CHAR(20),
Country CHAR(10),
PostalCode INTEGER(6),
territory CHAR (15),
FOREIGN KEY (OfficeCode) REFERENCES Employees (OfficeCode));"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [22]:
# SQL command to insert the data in the table
sql_command = """INSERT INTO Offices VALUES 
(10000, "Las Vegas", 8585858585, "Street No 1", "A Block", "Nevada", "United States",110002, "Las Vegas Territory"),
(10001, "Nantes", 9988998899, "Street No 2", "D Block", "Loire Atlantique", "France", 110092, "Overseas Territories"),
(10002, "Stavern", 7575959585, "Street No 3", "B Block", "Norway", "Europe", 110036, "Mainland Territory"),
(10003, "Seattle", 7788997789, "Street No 4", "A Block", "Washington", "United States", 110075, "Oregon Territory"),
(10004, "Berlin", 9080975065, "Street No 5", "B Block", "Berlin", "Germany", 110026, "East German Territory");"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [23]:
# SQL command to create table and columns in stores database
sql_command = """CREATE TABLE Payment(
CustomerNo INTEGER PRIMARY KEY,
ChequeNo VARCHAR (6) NOT NULL UNIQUE,
PaymentDate DATE(10),
Amount INTEGER(15),
FOREIGN KEY (CustomerNo) REFERENCES Customers (CustomerNo));"""

# execute the statement
cursor.execute(sql_command)

conn.commit()

In [24]:
# SQL command to insert the data in the table
sql_command = """INSERT INTO Payment VALUES 
(1, "H00025", "2002-10-10", 10000),
(2, "S56854", "2004-10-19", 30000),
(3, "B56584", "2002-10-11", 55000),
(4, "H65544", "2004-10-19", 25000),
(5, "S00054", "2012-10-12", 80000);"""

# execute the statement
cursor.execute(sql_command)

In [25]:
conn.commit()

# 1. Write a SQL query to show average number of orders shipped in a day (use Orders table).

In [26]:
sql_command = """SELECT date(shippeddate), AVG(QuantityOrdered) AS num_orders 
FROM Orders, OrderDetails 
WHERE OrderDetails.orderNo = Orders.orderNo 
GROUP BY date(shippeddate);"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('2004-10-19', 20.0)
('2012-10-11', 10.0)
('2012-10-15', 7.0)
('2022-10-10', 5.5)
('2022-10-11', 30.0)

# 2. Write a SQL query to show average number of orders placed in a day

In [27]:
sql_command = """SELECT date(orderdate), AVG(QuantityOrdered) 
FROM Orders, OrderDetails 
WHERE OrderDetails.orderNo = Orders.orderNo 
GROUP BY date(orderdate);"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('2004-10-19', 20.0)
('2012-10-10', 10.0)
('2012-10-12', 7.0)
('2022-10-10', 13.666666666666666)

# 3. Write a SQL query to show the product name with minimum MSRP (use Products table)

In [28]:
sql_command = """SELECT  ProductName, MIN(MSRP) FROM Products GROUP BY MSRP;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Mother Dairy Fresh Milk', 48)
('Amul Fresh Milk', 50)
('Pepsodent Toothpaste', 100)
('Surf Excel Detergent', 320)
('Bournvita Health Drinks', 420)
('Horlicks Health Drinks', 450)

# 4. Write a SQL query to show the product name with maximum value of stock Quantity.

In [30]:
sql_command = """SELECT  ProductName, MAX(QuantityInStock) FROM Products GROUP BY QuantityInStock;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Pepsodent Toothpaste', '1000 gms')
('Bournvita Health Drinks', '15 Kg')
('Horlicks Health Drinks', '20 Kg')
('Surf Excel Detergent', '30 Kg')
('Amul Fresh Milk', '50 ltr')

# 5. Write a query to show the most ordered product Name (the product with maximum number of orders).

In [31]:
sql_command = """SELECT  Products.ProductName, SUM(OrderDetails.QuantityOrdered) 
FROM OrderDetails
INNER JOIN  Products
ON Products.ProductCode= OrderDetails.ProductCode
GROUP BY OrderDetails.QuantityOrdered
ORDER BY SUM(OrderDetails.QuantityOrdered) DESC;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Mother Dairy Fresh Milk', 30)
('Amul Fresh Milk', 20)
('Surf Excel Detergent', 10)
('Pepsodent Toothpaste', 7)
('Horlicks Health Drinks', 6)
('Bournvita Health Drinks', 5)

# 6. Write a SQL query to show the highest paying customer Name.

In [39]:
sql_command = """SELECT CustomerName , MAX(Amount) AS Amount
FROM Customers, Payment
WHERE Customers.CustomerNo= Payment.CustomerNo
GROUP BY CustomerName
ORDER BY MAX(Amount) DESC;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Nick Jones', 80000)
('Rick Wills', 55000)
('Nitin Juneja', 30000)
('Joe Jacobs', 25000)
('John Edward', 10000)

# 7. Write a SQL query to show cutomerNumber, customerName of all the customers who are from Melbourne city.

In [41]:
sql_command = """SELECT  CustomerNo, CustomerName FROM Customers 
WHERE City = "Melbourne";"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

(14, 'James Schulman')

# 8. Write a SQL query to show name of all the customers whose name start with “N”.

In [42]:
sql_command = """SELECT CustomerName FROM Customers 
WHERE CustomerName LIKE "N%";"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Nitin Juneja',)
('Nick Jones',)
('Neena Jacobs',)

# 9. Write a SQL query to show name of all the customers whose phone start with ‘7’ and are from city ‘Las Vegas’.

In [43]:
sql_command = """SELECT CustomerName, Phone, City FROM Customers 
WHERE Phone LIKE "7%" and City = "Las Vegas";"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Neena Jacobs', 7777777777, 'Las Vegas')

# 10. Write a SQL query to show name of all the customers whose creditLimit < 1000 and city is either “Las Vegas” or ”Nantes” or “Stavern”.

In [44]:
sql_command = """SELECT CustomerName, CreditLimit, City FROM Customers 
WHERE CreditLimit < 1000 AND City ="Las Vegas" OR City ="Nantes" OR City = "Stavern";"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Nitin Juneja', 12000, 'Nantes')
('Rick Wills', 3000, 'Stavern')
('Mark Schulman', 200000, 'Stavern')
('Don Jones', 40000, 'Nantes')
('Maria Elliott', 14000, 'Stavern')
('Tanya Aldrich', 250000, 'Nantes')

# 11. Write a SQL query to show all the orderNumber in which quantity ordered <10.

In [46]:
sql_command = """SELECT orderNo, QuantityOrdered FROM OrderDetails WHERE QuantityOrdered < 10;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

# 12. Write a SQL query to show all the orderNumber whose customer Name start with letter ‘N’.

In [47]:
sql_command = """SELECT Orders.orderNo, Customers.CustomerName FROM Orders, Customers 
ON Orders.CustomerNo =Customers.CustomerNo
WHERE Customers.CustomerName LIKE "N%" ;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

(2, 'Nitin Juneja')
(5, 'Nick Jones')
(8, 'Neena Jacobs')

# 13. Write a SQL query to show all the customerName whose orders are “Disputed” in status.

In [49]:
sql_command = """SELECT CustomerName,  status 
FROM Customers, Orders 
ON Orders.CustomerNo =Customers.CustomerNo
WHERE status= "Disputed";"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Neena Jacobs', 'Disputed')
('Ed Gagliardi', 'Disputed')

# 14. Write a SQL query to show the customerName who made payment through cheque with checkNumber starting with H and made payment on “2004-10-19”.

In [50]:
sql_command = """SELECT CustomerName, ChequeNo, PaymentDate
FROM Customers 
INNER JOIN Payment
ON Customers.CustomerNo = Payment.CustomerNo
WHERE Payment.ChequeNo LIKE "H%" AND Payment.PaymentDate= "2004-10-19";"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('Joe Jacobs', 'H65544', '2004-10-19')

# 15. Write a SQL query to show all the checkNumber whose amount > 1000

In [51]:
sql_command = """SELECT ChequeNo, Amount FROM Payment
WHERE Amount>1000;"""
select= cursor.execute(sql_command)
for i in select:
    print(i)

('H00025', 10000)
('S56854', 30000)
('B56584', 55000)
('H65544', 25000)
('S00054', 80000)