In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page.content,'html.parser')

In [2]:
bowl=soup.select("tr.table-body a")
bowl=bowl[9:18]
bowl

[<a href="/rankings/mens/player-rankings/857">Josh Hazlewood</a>,
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>,
 <a href="/rankings/mens/player-rankings/1124">Jasprit Bumrah</a>,
 <a href="/rankings/mens/player-rankings/4530">Shaheen Afridi</a>,
 <a href="/rankings/mens/player-rankings/618">Mohammad Nabi</a>,
 <a href="/rankings/mens/player-rankings/1597">Mehedi Hasan</a>,
 <a href="/rankings/mens/player-rankings/2885">Rashid Khan</a>,
 <a href="/rankings/mens/player-rankings/1505">Matt Henry</a>,
 <a href="/rankings/mens/player-rankings/1594">Mustafizur Rahman</a>]

In [3]:
top=soup.find_all(class_="rankings-block__banner--name")[1]
top

In [4]:
bowl.insert(0,top)
bowl

[<div class="rankings-block__banner--name">Trent Boult</div>,
 <a href="/rankings/mens/player-rankings/857">Josh Hazlewood</a>,
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>,
 <a href="/rankings/mens/player-rankings/1124">Jasprit Bumrah</a>,
 <a href="/rankings/mens/player-rankings/4530">Shaheen Afridi</a>,
 <a href="/rankings/mens/player-rankings/618">Mohammad Nabi</a>,
 <a href="/rankings/mens/player-rankings/1597">Mehedi Hasan</a>,
 <a href="/rankings/mens/player-rankings/2885">Rashid Khan</a>,
 <a href="/rankings/mens/player-rankings/1505">Matt Henry</a>,
 <a href="/rankings/mens/player-rankings/1594">Mustafizur Rahman</a>]

In [5]:
name=[]
for nm in bowl:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    name.append(nm)
name

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Shaheen Afridi',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Rashid Khan',
 'Matt Henry',
 'Mustafizur Rahman']

In [23]:
team=soup.select("span.table-body__logo-text")
team=team[9:18]
team

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">BAN</span>]

In [24]:
teams=[]

for tm in team:
    tm=tm.get_text().replace('\n'," ")
    teams.append(tm)
teams

['AUS', 'AFG', 'IND', 'PAK', 'AFG', 'BAN', 'AFG', 'NZ', 'BAN']

In [12]:
top2=soup.select("span.table-body__logo-text")[16:17]
top2

In [25]:
team1=[]

for tm in top2:
    tm=tm.get_text().replace('\n'," ")
    team1.append(tm)
team1

['NZ']

In [26]:
team_name=team1+teams
team_name

['NZ', 'AUS', 'AFG', 'IND', 'PAK', 'AFG', 'BAN', 'AFG', 'NZ', 'BAN']

In [29]:
rate=soup.find_all("td", class_="table-body__cell u-text-right rating")[9:18]
rate

[<td class="table-body__cell u-text-right rating">679</td>,
 <td class="table-body__cell u-text-right rating">676</td>,
 <td class="table-body__cell u-text-right rating">662</td>,
 <td class="table-body__cell u-text-right rating">661</td>,
 <td class="table-body__cell u-text-right rating">657</td>,
 <td class="table-body__cell u-text-right rating">655</td>,
 <td class="table-body__cell u-text-right rating">651</td>,
 <td class="table-body__cell u-text-right rating">644</td>,
 <td class="table-body__cell u-text-right rating">640</td>]

In [30]:
top3=soup.select("div.rankings-block__banner--rating")[1]
top3

In [31]:
rate.insert(0,top3)
rate

[<div class="rankings-block__banner--rating">720</div>,
 <td class="table-body__cell u-text-right rating">679</td>,
 <td class="table-body__cell u-text-right rating">676</td>,
 <td class="table-body__cell u-text-right rating">662</td>,
 <td class="table-body__cell u-text-right rating">661</td>,
 <td class="table-body__cell u-text-right rating">657</td>,
 <td class="table-body__cell u-text-right rating">655</td>,
 <td class="table-body__cell u-text-right rating">651</td>,
 <td class="table-body__cell u-text-right rating">644</td>,
 <td class="table-body__cell u-text-right rating">640</td>]

In [32]:
ratings=[]
for rt in rate:
    rt=rt.get_text().replace('\n',"")
    rt=rt.strip()
    ratings.append(rt)
ratings

['720', '679', '676', '662', '661', '657', '655', '651', '644', '640']

In [33]:
df=pd.DataFrame({"Players":name,"team":team_name,"rating":ratings})
df

             Players team rating
0        Trent Boult   NZ    720
1     Josh Hazlewood  AUS    679
2   Mujeeb Ur Rahman  AFG    676
3     Jasprit Bumrah  IND    662
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7        Rashid Khan  AFG    651
8         Matt Henry   NZ    644
9  Mustafizur Rahman  BAN    640