#### * Importing libraries require for scraping

In [1]:
import selenium
import pandas as pd
import numpy as np
import time
import requests
import re
from bs4 import BeautifulSoup
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotVisibleException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

#### * Importing webdriver

In [5]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

#### * visting the mentioned url

In [6]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=19%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-flights&unqvaldesktop=1318631119934"
driver.get(url)
time.sleep(5)

In [7]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [8]:
import pandas as pd
df1 = pd.DataFrame()
df1['Airline name']=Airline_name
df1['From']=From
df1['To']=To
df1['Arival time']=Arival_time
df1['Depart time']=Depart_time
df1['Stoppage']=Stoppage
df1['Duration']=Duration
df1['Price']=Price
df1

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air India,New Delhi,Mumbai,23:35,21:20,Non Stop,2h 15m,"5,317"
1,Air India,New Delhi,Mumbai,00:45\n+ 1 day,22:30,Non Stop,2h 15m,"5,317"
2,Go First,New Delhi,Mumbai,22:05,20:00,Non Stop,2h 05m,"5,899"
3,Go First,New Delhi,Mumbai,23:15,21:00,Non Stop,2h 15m,"5,899"
4,IndiGo,New Delhi,Mumbai,01:20\n+ 1 day,23:00,Non Stop,2h 20m,"5,899"
...,...,...,...,...,...,...,...,...
87,IndiGo,New Delhi,Mumbai,20:10,15:25,1 Stop,4h 45m,"32,483"
88,Vistara,New Delhi,Mumbai,16:55\n+ 1 day,20:40,1 Stop,20h 15m,"33,350"
89,Vistara,New Delhi,Mumbai,23:10\n+ 1 day,20:40,1 Stop,26h 30m,"36,678"
90,Vistara,New Delhi,Mumbai,23:10,17:35,1 Stop,5h 35m,"38,915"
91,Vistara,New Delhi,Mumbai,23:10,14:45,1 Stop,8h 25m,"38,915"

In [9]:
df1.to_csv('df1')

In [11]:
next_search1=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[2]/div/p[1]").click()

In [12]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [13]:
df2 = pd.DataFrame()
df2['Airline name']=Airline_name
df2['From']=From
df2['To']=To
df2['Arival time']=Arival_time
df2['Depart time']=Depart_time
df2['Stoppage']=Stoppage
df2['Duration']=Duration
df2['Price']=Price
df2

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,IndiGo,New Delhi,Mumbai,07:15,04:45,Non Stop,2h 30m,"5,639"
1,Air Asia,New Delhi,Mumbai,13:05,04:55,1 Stop,8h 10m,"5,758"
2,Go First,New Delhi,Mumbai,04:50,02:40,Non Stop,2h 10m,"5,801"
3,Go First,New Delhi,Mumbai,08:10,06:00,Non Stop,2h 10m,"5,899"
4,Go First,New Delhi,Mumbai,00:40\n+ 1 day,22:30,Non Stop,2h 10m,"5,899"
...,...,...,...,...,...,...,...,...
150,Vistara,New Delhi,Mumbai,23:10,17:35,1 Stop,5h 35m,"24,960"
151,Vistara,New Delhi,Mumbai,23:10,14:45,1 Stop,8h 25m,"25,275"
152,Vistara,New Delhi,Mumbai,20:15,14:10,1 Stop,6h 05m,"26,955"
153,IndiGo,New Delhi,Mumbai,23:35,18:40,1 Stop,4h 55m,"27,164"
154,IndiGo,New Delhi,Mumbai,18:40,09:40,1 Stop,9h 00m,"28,065"

In [14]:
df2.to_csv('df2')

In [15]:
next_search1=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[3]/div/p[1]").click()

In [16]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [17]:
df3 = pd.DataFrame()
df3['Airline name']=Airline_name
df3['From']=From
df3['To']=To
df3['Arival time']=Arival_time
df3['Depart time']=Depart_time
df3['Stoppage']=Stoppage
df3['Duration']=Duration
df3['Price']=Price
df3

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,SpiceJet,New Delhi,Mumbai,20:05,18:10,Non Stop,1h 55m,"5,034"
1,SpiceJet,New Delhi,Mumbai,22:05,20:00,Non Stop,2h 05m,"5,034"
2,Air India,New Delhi,Mumbai,22:10,20:00,Non Stop,2h 10m,"5,317"
3,Air India,New Delhi,Mumbai,23:35,21:20,Non Stop,2h 15m,"5,317"
4,Air India,New Delhi,Mumbai,00:45\n+ 1 day,22:30,Non Stop,2h 15m,"5,317"
...,...,...,...,...,...,...,...,...
152,Go First,New Delhi,Mumbai,18:35,10:20,1 Stop,8h 15m,"22,676"
153,Air India,New Delhi,Mumbai,09:55\n+ 1 day,21:30,1 Stop,12h 25m,"22,688"
154,Air India,New Delhi,Mumbai,14:55\n+ 1 day,21:30,1 Stop,17h 25m,"22,688"
155,Air India,New Delhi,Mumbai,11:20,09:00,Non Stop,2h 20m,"22,755"
156,Vistara,New Delhi,Mumbai,23:30,15:45,1 Stop,7h 45m,"23,805"

In [18]:
df3.to_csv('df3')

In [19]:
driver.close()

In [23]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [24]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=DEL&destinationCountry=IN&flight_depart_date=19%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=333579764068"
driver.get(url)
time.sleep(5)

In [25]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [26]:
df4 = pd.DataFrame()
df4['Airline name']=Airline_name
df4['From']=From
df4['To']=To
df4['Arival time']=Arival_time
df4['Depart time']=Depart_time
df4['Stoppage']=Stoppage
df4['Duration']=Duration
df4['Price']=Price
df4

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,IndiGo,Mumbai,New Delhi,01:40\n+ 1 day,23:15,Non Stop,2h 25m,"5,628"
1,Go First,Mumbai,New Delhi,01:05\n+ 1 day,22:55,Non Stop,2h 10m,"5,629"
2,Go First,Mumbai,New Delhi,23:30,21:15,Non Stop,2h 15m,"5,629"
3,Go First,Mumbai,New Delhi,02:00\n+ 1 day,23:45,Non Stop,2h 15m,"5,629"
4,IndiGo,Mumbai,New Delhi,00:40\n+ 1 day,22:15,Non Stop,2h 25m,"5,838"
...,...,...,...,...,...,...,...,...
82,Vistara,Mumbai,New Delhi,12:35\n+ 1 day,17:20,1 Stop,19h 15m,"32,718"
83,Vistara,Mumbai,New Delhi,09:20\n+ 1 day,22:30,1 Stop,10h 50m,"33,516"
84,Vistara,Mumbai,New Delhi,15:20\n+ 1 day,19:10,1 Stop,20h 10m,"34,398"
85,Air India,Mumbai,New Delhi,19:50\n+ 1 day,17:50,1 Stop,26h 00m,"40,247"
86,Vistara,Mumbai,New Delhi,15:35\n+ 1 day,22:30,1 Stop,17h 05m,"40,341"

In [27]:
df4.to_csv('df4')

In [28]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[2]/div/p[1]").click()

In [29]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [30]:
df5 = pd.DataFrame()
df5['Airline name']=Airline_name
df5['From']=From
df5['To']=To
df5['Arival time']=Arival_time
df5['Depart time']=Depart_time
df5['Stoppage']=Stoppage
df5['Duration']=Duration
df5['Price']=Price
df5

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,IndiGo,Mumbai,New Delhi,04:45,02:30,Non Stop,2h 15m,"5,628"
1,IndiGo,Mumbai,New Delhi,01:40\n+ 1 day,23:15,Non Stop,2h 25m,"5,628"
2,Go First,Mumbai,New Delhi,08:00,05:50,Non Stop,2h 10m,"5,629"
3,Go First,Mumbai,New Delhi,01:05\n+ 1 day,22:55,Non Stop,2h 10m,"5,629"
4,Go First,Mumbai,New Delhi,02:00\n+ 1 day,23:45,Non Stop,2h 15m,"5,629"
...,...,...,...,...,...,...,...,...
143,Vistara,Mumbai,New Delhi,23:55,16:00,1 Stop,7h 55m,"38,283"
144,Vistara,Mumbai,New Delhi,23:55,17:55,1 Stop,6h 00m,"39,858"
145,Vistara,Mumbai,New Delhi,15:35,10:45,1 Stop,4h 50m,"40,341"
146,Vistara,Mumbai,New Delhi,23:55,17:30,1 Stop,6h 25m,"41,643"
147,Vistara,Mumbai,New Delhi,09:20\n+ 1 day,19:20,1 Stop,14h 00m,"44,930"

In [31]:
df5.to_csv('df5')

In [32]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[3]/div/p[1]").click()

In [33]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [34]:
df6 = pd.DataFrame()
df6['Airline name']=Airline_name
df6['From']=From
df6['To']=To
df6['Arival time']=Arival_time
df6['Depart time']=Depart_time
df6['Stoppage']=Stoppage
df6['Duration']=Duration
df6['Price']=Price
df6

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air India,Mumbai,New Delhi,18:40,16:35,Non Stop,2h 05m,"5,305"
1,Air Asia,Mumbai,New Delhi,23:05,15:15,1 Stop,7h 50m,"5,542"
2,IndiGo,Mumbai,New Delhi,04:45,02:30,Non Stop,2h 15m,"5,628"
3,IndiGo,Mumbai,New Delhi,08:20,06:05,Non Stop,2h 15m,"5,628"
4,IndiGo,Mumbai,New Delhi,01:40\n+ 1 day,23:15,Non Stop,2h 25m,"5,628"
...,...,...,...,...,...,...,...,...
146,Air Asia,Mumbai,New Delhi,14:30,07:35,1 Stop,6h 55m,"22,905"
147,Air India,Mumbai,New Delhi,17:25,12:15,1 Stop,5h 10m,"23,648"
148,IndiGo,Mumbai,New Delhi,13:00,06:20,1 Stop,6h 40m,"23,741"
149,IndiGo,Mumbai,New Delhi,13:35,08:05,1 Stop,5h 30m,"23,970"
150,Vistara,Mumbai,New Delhi,22:45,10:45,1 Stop,12h 00m,"24,948"

In [35]:
df6.to_csv('df6')

In [ ]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[3]/div/p[1]").click()

In [117]:
driver.close()

In [134]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [135]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date=19%2F01%2F2023&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1415082665504&version=1.1&viewName=normal"
driver.get(url)
time.sleep(5)

In [120]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [121]:
df7 = pd.DataFrame()
df7['Airline name']=Airline_name
df7['From']=From
df7['To']=To
df7['Arival time']=Arival_time
df7['Depart time']=Depart_time
df7['Stoppage']=Stoppage
df7['Duration']=Duration
df7['Price']=Price
df7

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,Mumbai,Goa,00:30\n+ 1 day,23:20,Non Stop,1h 10m,"3,634"
1,SpiceJet,Mumbai,Goa,22:20,21:05,Non Stop,1h 15m,"3,971"
2,Alliance Air,Mumbai,Goa,20:30,19:00,Non Stop,1h 30m,"5,103"
3,Go First,Mumbai,Goa,23:25,22:05,Non Stop,1h 20m,"5,104"
4,Air India,Mumbai,Goa,23:35,22:15,Non Stop,1h 20m,"5,208"
5,IndiGo,Mumbai,Goa,23:10,21:55,Non Stop,1h 15m,"6,363"
6,Vistara,Mumbai,Goa,22:10,20:55,Non Stop,1h 15m,"7,413"
7,Air Asia,Mumbai,Goa,05:25\n+ 1 day,20:35,1 Stop,8h 50m,"8,141"
8,Air Asia,Mumbai,Goa,05:25\n+ 1 day,19:40,1 Stop,9h 45m,"8,141"
9,Air Asia,Mumbai,Goa,06:45\n+ 1 day,20:35,1 Stop,10h 10m,"8,141"
10,Air Asia,Mumbai,Goa,06:45\n+ 1 day,19:40,1 Stop,11h 05m,"8,141"
11,Air Asia,Mumbai,Goa,05:25\n+ 1 day,21:50,1 Stop,7h 35m,"8,736"
12,Air Asia,Mumbai,Goa,06:45\n+ 1 day,21:50,1 Stop,8h 55m,"8,736"
13,Go First,Mumbai,Goa,17:45,16:30,Non Stop,1h 15m,"10,038"
14,IndiGo,Mumbai,Goa,18:15,17:00,Non Stop,1h 15m,"11,500"
15,SpiceJet,Mumbai,Goa,23:55,22:45,Non Stop,1h 10m,"12,897"
16,Air India,Mumbai,Goa,01:10\n+ 1 day,16:35,1 Stop,8h 35m,"13,923"
17,Air India,Mumbai,Goa,07:00\n+ 1 day,16:35,1 Stop,14h 25m,"15,708"
18,Vistara,Mumbai,Goa,14:05\n+ 1 day,19:10,1 Stop,18h 55m,"17,000"
19,Vistara,Mumbai,Goa,17:50\n+ 1 day,17:35,1 Stop,24h 15m,"17,493"
20,Vistara,Mumbai,Goa,14:05\n+ 1 day,21:30,1 Stop,16h 35m,"17,945"
21,Vistara,Mumbai,Goa,14:05\n+ 1 day,17:55,1 Stop,20h 10m,"17,945"
22,Air India,Mumbai,Goa,01:10\n+ 1 day,19:00,1 Stop,6h 10m,"18,333"
23,Air India,Mumbai,Goa,07:00\n+ 1 day,19:00,1 Stop,12h 00m,"20,118"
24,Vistara,Mumbai,Goa,17:50\n+ 1 day,22:40,2 Stop(s),19h 10m,"20,709"
25,Air India,Mumbai,Goa,01:10\n+ 1 day,18:05,1 Stop,7h 05m,"22,533"
26,Vistara,Mumbai,Goa,14:05\n+ 1 day,17:30,1 Stop,20h 35m,"22,565"
27,Air India,Mumbai,Goa,07:00\n+ 1 day,18:05,1 Stop,12h 55m,"24,318"
28,Vistara,Mumbai,Goa,17:50\n+ 1 day,22:40,2 Stop(s),19h 10m,"25,783"
29,Vistara,Mumbai,Goa,17:50\n+ 1 day,20:55,1 Stop,20h 55m,"29,253"
30,Vistara,Mumbai,Goa,17:50\n+ 1 day,19:45,1 Stop,22h 05m,"29,253"
31,Vistara,Mumbai,Goa,17:50\n+ 1 day,18:30,1 Stop,23h 20m,"29,253"
32,Vistara,Mumbai,Goa,21:20\n+ 1 day,17:35,1 Stop,27h 45m,"36,708"
33,Vistara,Mumbai,Goa,21:20\n+ 1 day,20:55,1 Stop,24h 25m,"48,468"
34,Vistara,Mumbai,Goa,21:20\n+ 1 day,19:45,1 Stop,25h 35m,"48,468"
35,Vistara,Mumbai,Goa,21:20\n+ 1 day,18:30,1 Stop,26h 50m,"48,468"
36,Air India,Mumbai,Goa,00:40\n+ 2 days,23:15,2 Stop(s),25h 25m,"53,603"

In [122]:
df7.to_csv('df7')

In [123]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[2]/div/p[1]").click()

In [124]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [125]:
df8 = pd.DataFrame()
df8['Airline name']=Airline_name
df8['From']=From
df8['To']=To
df8['Arival time']=Arival_time
df8['Depart time']=Depart_time
df8['Stoppage']=Stoppage
df8['Duration']=Duration
df8['Price']=Price
df8

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Go First,Mumbai,Goa,23:25,22:05,Non Stop,1h 20m,"4,246"
1,SpiceJet,Mumbai,Goa,23:55,22:45,Non Stop,1h 10m,"4,497"
2,SpiceJet,Mumbai,Goa,22:20,21:05,Non Stop,1h 15m,"4,497"
3,Air Asia,Mumbai,Goa,02:25,01:15,Non Stop,1h 10m,"4,578"
4,Air Asia,Mumbai,Goa,00:30\n+ 1 day,23:20,Non Stop,1h 10m,"4,998"
...,...,...,...,...,...,...,...,...
78,Vistara,Mumbai,Goa,21:20,06:30,1 Stop,14h 50m,"48,468"
79,Air India,Mumbai,Goa,00:40\n+ 1 day,18:00,1 Stop,6h 40m,"54,285"
80,Vistara,Mumbai,Goa,21:20,14:40,1 Stop,6h 40m,"56,732"
81,Vistara,Mumbai,Goa,21:20,12:25,1 Stop,8h 55m,"56,732"
82,Air India,Mumbai,Goa,00:40\n+ 1 day,12:15,2 Stop(s),12h 25m,"62,225"

In [126]:
df8.to_csv('df8')

In [127]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/ul[2]/li[2]/i").click()

In [128]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/div[1]/div/button").click()

In [129]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [130]:
df9 = pd.DataFrame()
df9['Airline name']=Airline_name
df9['From']=From
df9['To']=To
df9['Arival time']=Arival_time
df9['Depart time']=Depart_time
df9['Stoppage']=Stoppage
df9['Duration']=Duration
df9['Price']=Price
df9

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,SpiceJet,Goa,Mumbai,06:25,05:10,Non Stop,1h 15m,"2,147"
1,IndiGo,Goa,Mumbai,07:55,06:45,Non Stop,1h 10m,"2,450"
2,IndiGo,Goa,Mumbai,17:45,16:30,Non Stop,1h 15m,"2,450"
3,IndiGo,Goa,Mumbai,01:00\n+ 1 day,23:45,Non Stop,1h 15m,"2,450"
4,Air Asia,Goa,Mumbai,04:00,02:55,Non Stop,1h 05m,"2,550"
...,...,...,...,...,...,...,...,...
72,Air India,Goa,Mumbai,20:15,07:35,1 Stop,12h 40m,"33,756"
73,Air India,Goa,Mumbai,21:25,07:35,1 Stop,13h 50m,"33,756"
74,Air India,Goa,Mumbai,16:20,01:45,1 Stop,14h 35m,"33,756"
75,Air India,Goa,Mumbai,20:15,01:45,1 Stop,18h 30m,"33,756"
76,Air India,Goa,Mumbai,21:25,01:45,1 Stop,19h 40m,"33,756"

In [131]:
df9.to_csv('df9')

In [133]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[3]/div/p[1]").click()

In [136]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [137]:
df10 = pd.DataFrame()
df10['Airline name']=Airline_name
df10['From']=From
df10['To']=To
df10['Arival time']=Arival_time
df10['Depart time']=Depart_time
df10['Stoppage']=Stoppage
df10['Duration']=Duration
df10['Price']=Price
df10

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,SpiceJet,Goa,Mumbai,06:25,05:10,Non Stop,1h 15m,"2,147"
1,IndiGo,Goa,Mumbai,07:55,06:45,Non Stop,1h 10m,"2,450"
2,Air Asia,Goa,Mumbai,04:00,02:55,Non Stop,1h 05m,"2,550"
3,Air Asia,Goa,Mumbai,06:55,05:45,Non Stop,1h 10m,"2,550"
4,Air Asia,Goa,Mumbai,02:20,01:00,Non Stop,1h 20m,"2,550"
...,...,...,...,...,...,...,...,...
77,Vistara,Goa,Mumbai,16:55\n+ 1 day,14:40,2 Stop(s),26h 15m,"24,280"
78,Vistara,Goa,Mumbai,15:00\n+ 1 day,21:55,1 Stop,17h 05m,"26,719"
79,Vistara,Goa,Mumbai,15:00\n+ 1 day,18:25,1 Stop,20h 35m,"27,139"
80,Air India,Goa,Mumbai,12:25,01:15,1 Stop,11h 10m,"27,769"
81,Air India,Goa,Mumbai,11:20,01:15,1 Stop,10h 05m,"31,444"

In [138]:
df10.to_csv('df10')

In [139]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[4]/div/p[1]").click()

In [140]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [141]:
df11 = pd.DataFrame()
df11['Airline name']=Airline_name
df11['From']=From
df11['To']=To
df11['Arival time']=Arival_time
df11['Depart time']=Depart_time
df11['Stoppage']=Stoppage
df11['Duration']=Duration
df11['Price']=Price
df11

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air India,Goa,Mumbai,08:10,06:50,Non Stop,1h 20m,"3,514"
1,Go First,Goa,Mumbai,08:00,06:40,Non Stop,1h 20m,"3,707"
2,Air Asia,Goa,Mumbai,04:00,02:55,Non Stop,1h 05m,"3,719"
3,Air Asia,Goa,Mumbai,02:20,01:00,Non Stop,1h 20m,"3,719"
4,Air Asia,Goa,Mumbai,06:55,05:45,Non Stop,1h 10m,"3,935"
...,...,...,...,...,...,...,...,...
81,Vistara,Goa,Mumbai,20:15,14:40,1 Stop,5h 35m,"28,116"
82,Vistara,Goa,Mumbai,16:30,10:25,1 Stop,6h 05m,"28,504"
83,Vistara,Goa,Mumbai,17:35,10:25,1 Stop,7h 10m,"28,504"
84,Air India,Goa,Mumbai,12:25,01:15,1 Stop,11h 10m,"32,074"
85,Air India,Goa,Mumbai,11:20,01:15,1 Stop,10h 05m,"36,663"

In [142]:
df11.to_csv('df11')

In [143]:
driver.close()

In [144]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [145]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date=21%2F01%2F2023&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1674115163442&viewName=normal"
driver.get(url)
time.sleep(5)

In [146]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [147]:
df12 = pd.DataFrame()
df12['Airline name']=Airline_name
df12['From']=From
df12['To']=To
df12['Arival time']=Arival_time
df12['Depart time']=Depart_time
df12['Stoppage']=Stoppage
df12['Duration']=Duration
df12['Price']=Price
df12

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,New Delhi,Goa,05:25\n+ 1 day,21:20,1 Stop,8h 05m,"6,287"
1,Air Asia,New Delhi,Goa,06:45\n+ 1 day,21:20,1 Stop,9h 25m,"6,287"
2,Air Asia,New Delhi,Goa,05:25\n+ 1 day,19:05,1 Stop,10h 20m,"6,287"
3,Air Asia,New Delhi,Goa,17:35,07:10,1 Stop,10h 25m,"6,287"
4,Go First,New Delhi,Goa,12:45,05:15,1 Stop,7h 30m,"7,713"
...,...,...,...,...,...,...,...,...
126,Air Asia,New Delhi,Goa,15:25,12:45,Non Stop,2h 40m,"21,389"
127,Air India,New Delhi,Goa,22:20,10:00,1 Stop,12h 20m,"21,915"
128,Air India,New Delhi,Goa,14:45,10:00,1 Stop,4h 45m,"23,280"
129,Air India,New Delhi,Goa,22:20,09:00,1 Stop,13h 20m,"25,590"
130,Air India,New Delhi,Goa,14:45,09:00,1 Stop,5h 45m,"26,955"

In [148]:
df12.to_csv('df12')

In [149]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[4]/div/p[1]").click()

In [150]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [151]:
df13 = pd.DataFrame()
df13['Airline name']=Airline_name
df13['From']=From
df13['To']=To
df13['Arival time']=Arival_time
df13['Depart time']=Depart_time
df13['Stoppage']=Stoppage
df13['Duration']=Duration
df13['Price']=Price
df13

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,New Delhi,Goa,05:25\n+ 1 day,21:20,1 Stop,8h 05m,"6,287"
1,Air Asia,New Delhi,Goa,06:45\n+ 1 day,21:20,1 Stop,9h 25m,"6,287"
2,Air Asia,New Delhi,Goa,17:35,07:10,1 Stop,10h 25m,"6,287"
3,Go First,New Delhi,Goa,00:05\n+ 1 day,21:30,Non Stop,2h 35m,"6,513"
4,Air India,New Delhi,Goa,00:40\n+ 1 day,22:00,Non Stop,2h 40m,"6,514"
...,...,...,...,...,...,...,...,...
128,Vistara,New Delhi,Goa,14:05,09:05,1 Stop,5h 00m,"24,362"
129,Air India,New Delhi,Goa,14:45,10:00,1 Stop,4h 45m,"28,005"
130,Vistara,New Delhi,Goa,14:05\n+ 1 day,16:05,1 Stop,22h 00m,"28,562"
131,Air India,New Delhi,Goa,17:45,09:45,1 Stop,8h 00m,"34,912"
132,Vistara,New Delhi,Goa,14:05\n+ 1 day,14:10,1 Stop,23h 55m,"34,935"

In [152]:
df13.to_csv('df13')

In [154]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/ul[2]/li[2]/i").click()

In [155]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/div[1]/div/button").click()

In [156]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [157]:
df14 = pd.DataFrame()
df14['Airline name']=Airline_name
df14['From']=From
df14['To']=To
df14['Arival time']=Arival_time
df14['Depart time']=Depart_time
df14['Stoppage']=Stoppage
df14['Duration']=Duration
df14['Price']=Price
df14

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Go First,Goa,New Delhi,03:00,00:35,Non Stop,2h 25m,"7,103"
1,Air Asia,Goa,New Delhi,15:00,08:10,1 Stop,6h 50m,"7,295"
2,IndiGo,Goa,New Delhi,22:55,17:10,1 Stop,5h 45m,"8,008"
3,Air Asia,Goa,New Delhi,00:35\n+ 1 day,18:05,1 Stop,6h 30m,"8,565"
4,IndiGo,Goa,New Delhi,00:25\n+ 1 day,18:30,1 Stop,5h 55m,"8,762"
...,...,...,...,...,...,...,...,...
129,Air India,Goa,New Delhi,12:50,04:20,1 Stop,8h 30m,"35,816"
130,Air India,Goa,New Delhi,15:55,04:20,1 Stop,11h 35m,"35,816"
131,Air India,Goa,New Delhi,20:00,04:20,1 Stop,15h 40m,"35,816"
132,Vistara,Goa,New Delhi,20:30,14:40,1 Stop,5h 50m,"36,484"
133,Vistara,Goa,New Delhi,22:20,14:40,1 Stop,7h 40m,"36,484"

In [158]:
df14.to_csv('df14')

In [159]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[5]/div/p[1]").click()

In [160]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [162]:
df15 = pd.DataFrame()
df15['Airline name']=Airline_name
df15['From']=From
df15['To']=To
df15['Arival time']=Arival_time
df15['Depart time']=Depart_time
df15['Stoppage']=Stoppage
df15['Duration']=Duration
df15['Price']=Price
df15

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,IndiGo,Goa,New Delhi,05:45\n+ 1 day,23:15,1 Stop,6h 30m,"7,210"
1,Air Asia,Goa,New Delhi,20:45,14:45,1 Stop,6h 00m,"7,295"
2,Air Asia,Goa,New Delhi,14:20,08:10,1 Stop,6h 10m,"7,295"
3,Air Asia,Goa,New Delhi,00:35\n+ 1 day,18:05,1 Stop,6h 30m,"7,295"
4,Air Asia,Goa,New Delhi,15:00,08:10,1 Stop,6h 50m,"7,295"
...,...,...,...,...,...,...,...,...
128,Air Asia,Goa,New Delhi,19:10,16:35,Non Stop,2h 35m,"21,679"
129,IndiGo,Goa,New Delhi,20:50,15:05,1 Stop,5h 45m,"22,016"
130,IndiGo,Goa,New Delhi,14:50,08:05,1 Stop,6h 45m,"25,984"
131,Air India,Goa,New Delhi,03:50,01:15,Non Stop,2h 35m,"27,633"
132,Air India,Goa,New Delhi,12:50,04:20,1 Stop,8h 30m,"28,827"

In [163]:
df15.to_csv('df15')

In [164]:
driver.close()

In [180]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [181]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=19%2F01%2F2023&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1299897853199&version=1.6&viewName=normal"
driver.get(url)
time.sleep(5)

In [167]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [168]:
df16 = pd.DataFrame()
df16['Airline name']=Airline_name
df16['From']=From
df16['To']=To
df16['Arival time']=Arival_time
df16['Depart time']=Depart_time
df16['Stoppage']=Stoppage
df16['Duration']=Duration
df16['Price']=Price
df16

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,New Delhi,Bangalore,21:45,19:05,Non Stop,2h 40m,"5,235"
1,Air Asia,New Delhi,Bangalore,00:25\n+ 1 day,21:20,Non Stop,3h 05m,"5,235"
2,IndiGo,New Delhi,Bangalore,00:35\n+ 1 day,21:45,Non Stop,2h 50m,"5,237"
3,IndiGo,New Delhi,Bangalore,01:45\n+ 1 day,22:55,Non Stop,2h 50m,"5,237"
4,IndiGo,New Delhi,Bangalore,23:25,20:30,Non Stop,2h 55m,"5,342"
...,...,...,...,...,...,...,...,...
73,Vistara,New Delhi,Bangalore,15:55\n+ 1 day,18:40,1 Stop,21h 15m,"27,690"
74,Vistara,New Delhi,Bangalore,22:45\n+ 1 day,20:40,1 Stop,26h 05m,"29,538"
75,Vistara,New Delhi,Bangalore,09:50\n+ 1 day,17:35,1 Stop,16h 15m,"31,712"
76,Vistara,New Delhi,Bangalore,21:30,17:35,1 Stop,3h 55m,"33,287"
77,SpiceJet,New Delhi,Bangalore,00:15\n+ 1 day,16:50,1 Stop,7h 25m,"37,453"

In [169]:
df16.to_csv('df16')

In [170]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[2]/div/p[1]").click()

In [171]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [172]:
df17 = pd.DataFrame()
df17['Airline name']=Airline_name
df17['From']=From
df17['To']=To
df17['Arival time']=Arival_time
df17['Depart time']=Depart_time
df17['Stoppage']=Stoppage
df17['Duration']=Duration
df17['Price']=Price
df17

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,IndiGo,New Delhi,Bangalore,07:15,04:20,Non Stop,2h 55m,"5,237"
1,Go First,New Delhi,Bangalore,08:35,05:45,Non Stop,2h 50m,"5,501"
2,Air Asia,New Delhi,Bangalore,12:10,07:10,1 Stop,5h 00m,"5,901"
3,IndiGo,New Delhi,Bangalore,08:45,05:55,Non Stop,2h 50m,"6,007"
4,IndiGo,New Delhi,Bangalore,09:50,07:00,Non Stop,2h 50m,"6,007"
...,...,...,...,...,...,...,...,...
148,Air India,New Delhi,Bangalore,11:05\n+ 1 day,17:50,1 Stop,17h 15m,"33,087"
149,Air India,New Delhi,Bangalore,20:30,14:00,1 Stop,6h 30m,"38,757"
150,Air India,New Delhi,Bangalore,08:30\n+ 1 day,19:00,1 Stop,13h 30m,"38,757"
151,Air India,New Delhi,Bangalore,08:30\n+ 1 day,17:50,1 Stop,14h 40m,"38,757"
152,Air India,New Delhi,Bangalore,08:30\n+ 1 day,14:00,1 Stop,18h 30m,"38,757"

In [173]:
df17.to_csv('df17')

In [174]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[3]/div/p[1]").click()

In [175]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [176]:
df18 = pd.DataFrame()
df18['Airline name']=Airline_name
df18['From']=From
df18['To']=To
df18['Arival time']=Arival_time
df18['Depart time']=Depart_time
df18['Stoppage']=Stoppage
df18['Duration']=Duration
df18['Price']=Price
df18

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,IndiGo,New Delhi,Bangalore,00:35\n+ 1 day,21:45,Non Stop,2h 50m,"6,217"
1,Vistara,New Delhi,Bangalore,23:55,21:30,Non Stop,2h 25m,"6,344"
2,Air India,New Delhi,Bangalore,08:55,06:10,Non Stop,2h 45m,"6,344"
3,Vistara,New Delhi,Bangalore,22:40,19:55,Non Stop,2h 45m,"6,344"
4,Air India,New Delhi,Bangalore,00:05\n+ 1 day,21:10,Non Stop,2h 55m,"6,344"
...,...,...,...,...,...,...,...,...
153,Vistara,New Delhi,Bangalore,15:55\n+ 1 day,18:40,1 Stop,21h 15m,"26,325"
154,Air Asia,New Delhi,Bangalore,15:05,07:15,1 Stop,7h 50m,"26,639"
155,Vistara,New Delhi,Bangalore,00:50\n+ 1 day,14:10,1 Stop,10h 40m,"26,640"
156,Vistara,New Delhi,Bangalore,21:30,10:20,1 Stop,11h 10m,"26,911"
157,Air India,New Delhi,Bangalore,18:25,09:00,1 Stop,9h 25m,"27,344"

In [177]:
df18.to_csv('df18')

In [182]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/ul[2]/li[2]/i").click()

In [183]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/div[1]/div/button").click()

In [184]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [185]:
df19 = pd.DataFrame()
df19['Airline name']=Airline_name
df19['From']=From
df19['To']=To
df19['Arival time']=Arival_time
df19['Depart time']=Depart_time
df19['Stoppage']=Stoppage
df19['Duration']=Duration
df19['Price']=Price
df19

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,Bangalore,New Delhi,19:45,12:15,1 Stop,7h 30m,"7,094"
1,IndiGo,Bangalore,New Delhi,02:10\n+ 1 day,23:20,Non Stop,2h 50m,"7,650"
2,IndiGo,Bangalore,New Delhi,01:00\n+ 1 day,22:00,Non Stop,3h 00m,"8,179"
3,Air Asia,Bangalore,New Delhi,01:25\n+ 1 day,22:40,Non Stop,2h 45m,"8,493"
4,IndiGo,Bangalore,New Delhi,07:30\n+ 1 day,23:40,1 Stop,7h 50m,"8,675"
...,...,...,...,...,...,...,...,...
145,Vistara,Bangalore,New Delhi,14:10,11:30,Non Stop,2h 40m,"32,328"
146,Air India,Bangalore,New Delhi,15:55,13:15,Non Stop,2h 40m,"32,328"
147,Vistara,Bangalore,New Delhi,20:30,17:50,Non Stop,2h 40m,"32,328"
148,Vistara,Bangalore,New Delhi,12:35,09:45,Non Stop,2h 50m,"32,328"
149,IndiGo,Bangalore,New Delhi,07:20\n+ 1 day,22:30,1 Stop,8h 50m,"33,777"

In [186]:
df19.to_csv('df19')

In [187]:
driver.close()

In [103]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [104]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=19%2F01%2F2023&hb=0&noOfSegments=1&origin=CCU&originCountry=IN&type=O&unique=359913201877&version=1.1&viewName=normal"
driver.get(url)
time.sleep(5)

In [105]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [106]:
df20 = pd.DataFrame()
df20['Airline name']=Airline_name
df20['From']=From
df20['To']=To
df20['Arival time']=Arival_time
df20['Depart time']=Depart_time
df20['Stoppage']=Stoppage
df20['Duration']=Duration
df20['Price']=Price
df20

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,Kolkata,New Delhi,03:55\n+ 1 day,20:15,1 Stop,7h 40m,"6,788"
1,Air Asia,Kolkata,New Delhi,01:40\n+ 1 day,16:10,1 Stop,9h 30m,"6,788"
2,IndiGo,Kolkata,New Delhi,23:15,20:45,Non Stop,2h 30m,"8,712"
3,IndiGo,Kolkata,New Delhi,00:30\n+ 1 day,21:55,Non Stop,2h 35m,"8,712"
4,IndiGo,Kolkata,New Delhi,22:10,17:35,1 Stop,4h 35m,"10,154"
5,IndiGo,Kolkata,New Delhi,23:30,17:35,1 Stop,5h 55m,"10,154"
6,IndiGo,Kolkata,New Delhi,22:25,16:45,1 Stop,5h 40m,"10,274"
7,Vistara,Kolkata,New Delhi,21:10,18:45,Non Stop,2h 25m,"11,127"
8,IndiGo,Kolkata,New Delhi,22:15,19:35,Non Stop,2h 40m,"12,492"
9,IndiGo,Kolkata,New Delhi,20:50,18:20,Non Stop,2h 30m,"14,172"
10,Vistara,Kolkata,New Delhi,22:45,20:25,Non Stop,2h 20m,"14,277"
11,Go First,Kolkata,New Delhi,01:55\n+ 1 day,16:55,1 Stop,9h 00m,"16,599"
12,Go First,Kolkata,New Delhi,02:00\n+ 1 day,16:55,1 Stop,9h 05m,"16,599"
13,Go First,Kolkata,New Delhi,08:00\n+ 1 day,16:55,1 Stop,15h 05m,"16,599"
14,Vistara,Kolkata,New Delhi,18:00\n+ 1 day,17:30,1 Stop,24h 30m,"18,162"
15,Vistara,Kolkata,New Delhi,01:00\n+ 1 day,17:30,1 Stop,7h 30m,"18,477"
16,Go First,Kolkata,New Delhi,00:50\n+ 1 day,16:35,1 Stop,8h 15m,"18,726"
17,Vistara,Kolkata,New Delhi,22:45\n+ 1 day,17:30,2 Stop(s),29h 15m,"18,779"
18,Go First,Kolkata,New Delhi,00:10\n+ 1 day,16:50,1 Stop,7h 20m,"18,881"
19,Vistara,Kolkata,New Delhi,19:55\n+ 1 day,17:30,2 Stop(s),26h 25m,"19,199"
20,Vistara,Kolkata,New Delhi,18:00\n+ 1 day,20:40,1 Stop,21h 20m,"19,947"
21,Air Asia,Kolkata,New Delhi,08:50\n+ 1 day,20:15,1 Stop,12h 35m,"20,756"
22,Vistara,Kolkata,New Delhi,10:20\n+ 1 day,17:30,2 Stop(s),16h 50m,"21,174"
23,Vistara,Kolkata,New Delhi,10:20\n+ 1 day,17:30,2 Stop(s),16h 50m,"21,174"
24,Vistara,Kolkata,New Delhi,17:10\n+ 1 day,17:30,2 Stop(s),23h 40m,"21,174"
25,Vistara,Kolkata,New Delhi,17:10\n+ 1 day,17:30,2 Stop(s),23h 40m,"21,174"
26,Vistara,Kolkata,New Delhi,00:10\n+ 2 days,20:40,1 Stop,27h 30m,"22,782"
27,Vistara,Kolkata,New Delhi,01:00\n+ 2 days,20:40,1 Stop,28h 20m,"22,782"
28,Go First,Kolkata,New Delhi,09:15\n+ 1 day,16:50,1 Stop,16h 25m,"23,081"
29,Vistara,Kolkata,New Delhi,13:55\n+ 1 day,17:30,2 Stop(s),20h 25m,"24,180"
30,Vistara,Kolkata,New Delhi,10:20\n+ 1 day,20:40,2 Stop(s),13h 40m,"25,617"
31,Vistara,Kolkata,New Delhi,17:10\n+ 1 day,20:40,2 Stop(s),20h 30m,"25,617"
32,Vistara,Kolkata,New Delhi,07:55\n+ 1 day,17:30,2 Stop(s),14h 25m,"26,248"
33,Vistara,Kolkata,New Delhi,22:00\n+ 1 day,17:30,2 Stop(s),28h 30m,"26,977"
34,Vistara,Kolkata,New Delhi,22:00\n+ 1 day,17:30,2 Stop(s),28h 30m,"26,977"
35,Vistara,Kolkata,New Delhi,22:00\n+ 1 day,17:30,2 Stop(s),28h 30m,"27,298"
36,Vistara,Kolkata,New Delhi,19:55\n+ 1 day,17:30,2 Stop(s),26h 25m,"29,535"
37,Vistara,Kolkata,New Delhi,00:05\n+ 2 days,17:30,2 Stop(s),30h 35m,"29,535"
38,Vistara,Kolkata,New Delhi,08:35\n+ 1 day,17:30,1 Stop,15h 05m,"29,922"
39,Vistara,Kolkata,New Delhi,09:40\n+ 1 day,17:30,1 Stop,16h 10m,"29,922"
40,Vistara,Kolkata,New Delhi,12:40\n+ 1 day,17:30,1 Stop,19h 10m,"29,922"
41,Vistara,Kolkata,New Delhi,14:05\n+ 1 day,17:30,1 Stop,20h 35m,"29,922"
42,Vistara,Kolkata,New Delhi,19:45\n+ 1 day,17:30,1 Stop,26h 15m,"29,922"
43,Vistara,Kolkata,New Delhi,08:35\n+ 1 day,20:40,1 Stop,11h 55m,"31,707"
44,Vistara,Kolkata,New Delhi,09:40\n+ 1 day,20:40,1 Stop,13h 00m,"31,707"
45,Vistara,Kolkata,New Delhi,12:40\n+ 1 day,20:40,1 Stop,16h 00m,"31,707"
46,Vistara,Kolkata,New Delhi,14:05\n+ 1 day,20:40,1 Stop,17h 25m,"31,707"
47,Vistara,Kolkata,New Delhi,19:45\n+ 1 day,20:40,1 Stop,23h 05m,"31,707"
48,Vistara,Kolkata,New Delhi,15:35\n+ 1 day,17:30,2 Stop(s),22h 05m,"33,857"
49,Vistara,Kolkata,New Delhi,16:55\n+ 1 day,17:30,1 Stop,23h 25m,"38,186"
50,Vistara,Kolkata,New Delhi,14:50\n+ 1 day,20:40,1 Stop,18h 10m,"39,971"
51,Vistara,Kolkata,New Delhi,16:55\n+ 1 day,20:40,1 Stop,20h 15m,"39,971"
52,Vistara,Kolkata,New Delhi,12:35\n+ 1 day,20:40,2 Stop(s),15h 55m,"40,559"
53,Vistara,Kolkata,New Delhi,09:20\n+ 1 day,17:30,2 Stop(s),15h 50m,"44,370"

In [107]:
df20.to_csv('df20')

In [108]:
next_search=driver.find_element(By.XPATH,"/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[2]/div/p[1]").click()

In [109]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [110]:
df21 = pd.DataFrame()
df21['Airline name']=Airline_name
df21['From']=From
df21['To']=To
df21['Arival time']=Arival_time
df21['Depart time']=Depart_time
df21['Stoppage']=Stoppage
df21['Duration']=Duration
df21['Price']=Price
df21

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,Air Asia,Kolkata,New Delhi,01:40\n+ 1 day,16:10,1 Stop,9h 30m,"7,423"
1,Air Asia,Kolkata,New Delhi,01:40\n+ 1 day,13:20,1 Stop,12h 20m,"7,423"
2,Air Asia,Kolkata,New Delhi,22:15,08:10,1 Stop,14h 05m,"8,450"
3,IndiGo,Kolkata,New Delhi,07:55,05:30,Non Stop,2h 25m,"8,712"
4,IndiGo,Kolkata,New Delhi,23:30,17:35,1 Stop,5h 55m,"9,165"
...,...,...,...,...,...,...,...,...
99,Vistara,Kolkata,New Delhi,21:55,10:20,1 Stop,11h 35m,"41,126"
100,Vistara,Kolkata,New Delhi,23:00,10:20,1 Stop,12h 40m,"41,126"
101,Air India,Kolkata,New Delhi,09:15\n+ 1 day,17:15,1 Stop,16h 00m,"41,861"
102,Vistara,Kolkata,New Delhi,21:25,10:20,2 Stop(s),11h 05m,"45,704"
103,Vistara,Kolkata,New Delhi,22:20,10:20,2 Stop(s),12h 00m,"52,077"

In [111]:
df21.to_csv('df21')

In [112]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/ul[2]/li[2]/i").click()

In [113]:
next_search=driver.find_element(By.XPATH,"/html/body/section[1]/section/div/div/form/div[1]/div/button/span").click()

In [114]:
Airline_name = []
Depart_time = []
Arival_time = []
Duration = []
Stoppage = []
Price = []
From = []
To = []

#scraping the Airline_name
try:
    air_name = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')
    for os in air_name:
        Airline_name.append(os.text)
except NoSuchElementException:
    Airline_name.append('-')

    
#scraping the data of Departure time
try:
    air_dec = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')
    for os in air_dec:
        Depart_time.append(os.text)
except NoSuchElementException:
    Depart_time.append('-')


#scraping data of the Arival time
try:
    air_ari = driver.find_elements(By.XPATH,'//p[@class="bold fs-15 mb-2 pr time"]')
    for disp in air_ari:
        Arival_time.append(disp.text)
except NoSuchElementException:
    Arival_time.append("-")


# scraping data of Duration of the flight
try:
    dur = driver.find_elements(By.XPATH,'//p[@class="fs-12 bold du mb-2"]')
    for pro in dur:
        Duration.append(pro.text)
except NoSuchElementException:
    Duration.append('-')
    
    
# scraping the number of stoppage
try:
    stop = driver.find_elements(By.XPATH,'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for pro in stop:
        Stoppage.append(pro.text)
except NoSuchElementException:
    Stoppage.append('-')
    
    
#scraping the data of fare of
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for os in op_ser:
        Price.append(os.text)
except NoSuchElementException:
    Price.append('-')
    
    
# scraping  boarding location 
try:
    name = driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        From.append(i.text)
except NoSuchElementException:
    From.append('-')
    
    
# scraping  landing location
try:
    name = driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']")
    for i in name:
        To.append(i.text)
except NoSuchElementException:
    To.append('-')

In [115]:
df22 = pd.DataFrame()
df22['Airline name']=Airline_name
df22['From']=From
df22['To']=To
df22['Arival time']=Arival_time
df22['Depart time']=Depart_time
df22['Stoppage']=Stoppage
df22['Duration']=Duration
df22['Price']=Price
df22

,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,SpiceJet,New Delhi,Kolkata,07:45,05:45,Non Stop,2h 00m,"4,796"
1,SpiceJet,New Delhi,Kolkata,10:25\n+ 1 day,08:30,1 Stop,25h 55m,"5,860"
2,Air Asia,New Delhi,Kolkata,12:35,07:10,1 Stop,5h 25m,"6,498"
3,Air Asia,New Delhi,Kolkata,02:30\n+ 1 day,15:05,1 Stop,11h 25m,"6,498"
4,Air Asia,New Delhi,Kolkata,12:35\n+ 1 day,21:45,1 Stop,14h 50m,"6,498"
...,...,...,...,...,...,...,...,...
98,Vistara,New Delhi,Kolkata,09:40\n+ 1 day,17:35,2 Stop(s),16h 05m,"37,770"
99,Vistara,New Delhi,Kolkata,16:50,09:30,1 Stop,7h 20m,"38,474"
100,Vistara,New Delhi,Kolkata,19:50,09:30,1 Stop,10h 20m,"38,474"
101,Air India,New Delhi,Kolkata,23:00,14:00,1 Stop,9h 00m,"39,734"
102,Vistara,New Delhi,Kolkata,09:40\n+ 1 day,18:40,2 Stop(s),15h 00m,"43,262"

In [116]:
df22.to_csv('df22')

In [192]:
data1= pd.read_csv("df1")
data2= pd.read_csv("df2")
data3= pd.read_csv("df3")
data4= pd.read_csv("df4")
data5= pd.read_csv("df5")
data6= pd.read_csv("df6")
data7= pd.read_csv("df7")
data8= pd.read_csv("df8")
data9= pd.read_csv("df9")
data10= pd.read_csv("df10")
data11= pd.read_csv("df11")
data12= pd.read_csv("df12")
data13= pd.read_csv("df13")
data14= pd.read_csv("df14")
data15= pd.read_csv("df15")
data16= pd.read_csv("df16")
data17= pd.read_csv("df17")
data18= pd.read_csv("df18")
data19= pd.read_csv("df19")
data20= pd.read_csv("df20")
data21= pd.read_csv("df21")
data22= pd.read_csv("df22")

In [193]:
df = pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,data16,data17,data18,data19,data20,data21,data22])

In [195]:
df

,Unnamed: 0,Airline name,From,To,Arival time,Depart time,Stoppage,Duration,Price
0,0,Air India,New Delhi,Mumbai,23:35,21:20,Non Stop,2h 15m,"5,317"
1,1,Air India,New Delhi,Mumbai,00:45\n+ 1 day,22:30,Non Stop,2h 15m,"5,317"
2,2,Go First,New Delhi,Mumbai,22:05,20:00,Non Stop,2h 05m,"5,899"
3,3,Go First,New Delhi,Mumbai,23:15,21:00,Non Stop,2h 15m,"5,899"
4,4,IndiGo,New Delhi,Mumbai,01:20\n+ 1 day,23:00,Non Stop,2h 20m,"5,899"
...,...,...,...,...,...,...,...,...,...
98,98,Vistara,New Delhi,Kolkata,09:40\n+ 1 day,17:35,2 Stop(s),16h 05m,"37,770"
99,99,Vistara,New Delhi,Kolkata,16:50,09:30,1 Stop,7h 20m,"38,474"
100,100,Vistara,New Delhi,Kolkata,19:50,09:30,1 Stop,10h 20m,"38,474"
101,101,Air India,New Delhi,Kolkata,23:00,14:00,1 Stop,9h 00m,"39,734"
102,102,Vistara,New Delhi,Kolkata,09:40\n+ 1 day,18:40,2 Stop(s),15h 00m,"43,262"

In [196]:
#to save the dataframe 
df.to_csv('flightdata.csv', index=True)